<!DOCTYPE html>
<html>
<head>
    <title>
        Dockerizinf a python web application 
    </title>
</head>
<body>
    <h1> Simple web Application using python flask framwork</h1>
    <h2> Response from host {{ HOSTNAME }} with IP Address {{ IP }}</h2>
</body>
</html>